#interfaceHolder {

    font-size: 20px;
}
#header {
    margin-bottom:40%;
}
#bgImg{
    scale:5;
}
#bg {
    z-index: -5;
    top:0;
    left:0;
    position: absolute;
    overflow:hidden;
    /* width:105%; */
    height:100vh;
}
body {
    color:white;
    /* width:100vw; */
}
button {
    font-size: 20px;
}

#trackerHolder {
display:grid;
grid-template-columns: 1fr 1fr 1fr;
}
#trackerHolder div {
    display:flex;
    margin:10px;
    
    justify-content: center;
}
#trackerHolder button {
    padding:20px;
    width:90%;
    height:80%;

    
}
#interfaceHolder {

}
#cameraHolder {
display:grid;
grid-template-columns: 1fr 1fr 1fr;
}
#cameraHolder div {
    display:flex;
    margin:10px;
    
    justify-content: center;
}
#cameraHolder button {
    width:90%;
    height:100%;
}
#ximg {
scale:.2;
}

.label {
    text-decoration: underline;
}
button:active{
 border: 1px solid gray;
}
#homeHolder {
    display:flex;
    height:25%;
    justify-content: center;
}
#homeHolder button{
    width:33%;
    position: absolute;
    bottom: 30px;
}